<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<properties>
		<!-- 계정 테이블 -->
		<property name="stMemberTable" value="st_member_table"/>
		<property name="memberUserid" value="member_userid"/>
		<property name="memberPassword" value="member_password"/>
		<property name="memberNickname" value="member_nickname"/>
		<property name="memberEmail" value="member_email"/>
		<property name="memberBno" value="member_bno"/>
		
		<!-- 메시지 테이블 -->
		<property name="stMSGTable" value="st_msg_table"/>
		<property name="msgSender" value="msg_sender"/>
		<property name="msgReceiver" value="msg_receiver"/>
		<property name="msgContent" value="msg_content"/>
		<property name="msgDate" value="msg_date"/>
		<property name="msgBno" value="msg_bno"/>
		<property name="msgRoom" value="msg_room"/>
		
		<!-- 채팅방 테이블 -->
		<property name="stRoomTable" value="st_room_table"/>
		<property name="roomUser" value="room_user"/>
		<property name="roomTitle" value="room_title"/>
		<property name="roomContent" value="room_content"/>
		<property name="roomBno" value="room_bno"/>
		<property name="roomCount" value="room_count"/>
		
		<!-- 전체 대화방 테이블 -->
		<property name="stAllTable" value="st_all_table"/>
		<property name="allBno" value="all_bno"/>
		<property name="allSender" value="all_sender"/>
		<property name="allContent" value="all_content"/>
		<property name="allCount" value="all_count"/>
	</properties>
	
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<typeAliases>
		<package name="spring.project.songtalk.domain"/>
	</typeAliases>
	
</configuration>